:root {
  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --menu-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(39, 93%, 69%),
    hsl(35, 90%, 54%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: #1e1e1f;
  --menu-bar-gb: hsla(240, 1%, 17%, 0.75);
  --overlay-background: hsl(0, 0%, 5%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --title-orange-yellow-crayola: hsl(45, 100%, 72%);
  --text-orange-yellow-crayola: hsl(45, 100%, 72%);
  --nav-link-active: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --menu-bar-text: var(--light-gray-70);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
  --icon-color: #fcc05e;
  --active-link-color: #fcc05e;
  --map-box-filter: grayscale(1) invert(1);

  --ops-text-color: hsl(45, 100%, 72%);
  /**
   * typography
   */

  /* font-family */
  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --font-size-1: 24px;
  --font-size-2: 18px;
  --font-size-3: 17px;
  --font-size-4: 16px;
  --font-size-5: 15px;
  --font-size-6: 14px;
  --font-size-7: 13px;
  --font-size-8: 11px;
  --font-size-9: 10px;

  /* font-weight */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  /**
   * shadow
   */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

.light-mode {
  --jet: #ffcd6b;
  --eerie-black-2: #fff9ef;
  --onyx: #f4ebdbdb;
  --icon-color: #c67a01;
  --light-gray: #403f3f;
  --light-gray-70: #6d6b6b;
  --menu-bar-text: hsl(0, 0%, 99%);
  --bg-gradient-jet: #f4ebdb;
  --text-orange-yellow-crayola: #6d6b6b;
  --title-orange-yellow-crayola: #efa125;
  --active-link-color: #000;

  --smoky-black: #f9f7f7;
  --white-1: hsl(0, 2%, 10%);
  --white-2: hsl(0, 1%, 20%);
  --eerie-black-1: #f0e3ce;
  --map-box-filter: none;
  --ops-text-color: #fff;

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(36, 46%, 75%) 3%,
    hsl(50, 43%, 68%) 97%
  );

  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,

    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 90%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --menu-gradient-onyx: linear-gradient(
    to bottom right,
    #ebe1cb,
    hsl(50, 43%, 68%) 97%
  );
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    #d7c596,
    #e9e9e9 50%
  );
  color: black;
  --nav-link-active: #000;

  --shadow-1: 0px 4px 14px hsla(0, 0%, 0%, 0.1);
  --shadow-2: -4px 8px 24px hsla(0, 0%, 0%, 0.1);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.1);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.05);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
p {
  color: var(--light-gray);
}
::selection {
  background: var(--text-orange-yellow-crayola);
  /* Change the background color of the selected text */
  color: var(--eerie-black-2);
}

.size-box20 {
  height: 20px;
}
.size-box10 {
  height: 10px;
}
::-webkit-scrollbar {
  width: 0.6em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: var(--smoky-black);
  border-radius: 100vw;
  border-radius: 100dvw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gradient-onyx);
  border: 0.05em solid var(--light-gray-70);
  border-radius: 100vw;
  border-radius: 100dvw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--smoky-black);
}

body {
  background: var(--smoky-black);
  color: var(--white-2);
  font-family: "Poppins", sans-serif;
}

.main-container {
  margin: 60px auto;
  display: grid;
  max-width: 1195px;
  grid-template-columns: 22.8% 1fr;
  gap: 1.6rem;
  transition: var(--transition-2);
}
.defult-panel {
  background: var(--eerie-black-2);
  border-radius: 20px;
  border: solid 1px var(--jet);
}

.left-side {
  align-items: start;
  padding: 20px;
  position: sticky;
  top: 60px;
  height: fit-content;
  overflow: hidden;
  transition: var(--transition-2);
}

.show-contacts-btn {
  display: none;
  position: relative;
  background: var(--bg-gradient-onyx);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  border-radius: 0 14px;

  font-size: var(--font-size-8);
  box-shadow: var(--shadow-4);
  transition: var(--transition-1);
  z-index: 1;
  p {
    color: var(--ops-text-color);
    letter-spacing: 0.5px;
  }
}
.show-contacts-btn #down-arrow {
  display: none;
  transform: rotate(90deg);
  transition: var(--transition-1);
}

.show-contacts-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  width: inherit;
  height: inherit;
  background: var(--bg-gradient-onyx);
  border-radius: 0 14px;

  z-index: -1;
  transition: var(--transition-1);
}

/*  */
.show-contacts-btn:hover,
.show-contacts-btn.active {
  background: var(--bg-gradient-yellow-1);
}
/* Dark mode Light mode */

.mode-toggle-btn {
  height: 25px;
  width: 45px;
  overflow: hidden;
  padding-inline: 2px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: var(--transition-2);
}
.toggle-mode {
  background: var(--bg-gradient-onyx);
  display: flex;
  border-radius: inherit;
  justify-content: center;
  border: 1px solid var(--jet);
  padding: 3px;
  transform: translateX(18px);
  transition: var(--transition-1);
}
.toggle-mode img {
  height: 13px;
  width: 13px;
}

.toggle-mode.light-mode {
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}

.profile {
  padding: 20px 0;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition-1);
}
.photo {
  width: 130px;
  margin: 10px auto;
  height: 130px;
  border-radius: 30px;
  background: var(--bg-gradient-onyx);
  transition: var(--transition-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  width: 120px;
  height: 120px;
}

.my-info {
  text-align: center;
  justify-content: space-evenly;
  transition: var(--transition-1);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.my-name {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-500);
  letter-spacing: -0.25px;
}
.my-position {
  background: var(--onyx);
  color: var(--white-2);
  display: inline-block;
  padding: 4px 15px;
  border-radius: 8px;
  font-size: var(--font-size-8);
  transition: var(--transition-1);
  font-weight: var(--font-weight-300);
}
.resume-download-btn {
  color: var(--icon-color);
  text-transform: uppercase;
  font-size: var(--font-size-8);
  opacity: 0.8;
}
.resume-download-btn:hover {
  opacity: 1;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--jet);
}

.contact-list {
  /* #contact ul */
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.contact-item {
  /* #contact li */
  margin: 10px 0px;
}

.item-icon {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 10px;
  z-index: 1;
  transition: var(--transition-1);
}

.item-icon::before {
  content: "";
  position: absolute;
  inset: 1px;
  width: 55px;
  height: 55px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}
.item-icon img {
  width: 25px;
  height: 25px;
  /* color: var(--bg-gradient-yellow-1); */
  transition: var(--transition-1);
}
.item-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  text-align: left;
  padding-top: 15px;
}
.contact-data {
  color: var(--white-1);
}
address {
  font-style: normal;
}
.item-data p {
  text-transform: uppercase;
  color: var(--light-gray-70);
  font-size: var(--font-size-8);
}

.social-icons {
  width: 200px;
  text-align: center;
  margin-top: 20px;
}
.social-icons svg {
  width: 20px;
  margin-inline: 2px;
}

.right-side {
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/* Right Side section  */

.menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 60px;
  background: var(--bg-gradient-onyx);
  backdrop-filter: blur(30px);
  border: 1px solid var(--jet);
  border-radius: 0px 12px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.97;
  z-index: 5;
}
.menu-bar-ul {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.menu-bar-link {
  font-weight: var(--font-weight-500);
  color: var(--menu-bar-text);
  float: left;
  margin-right: 10px;
}
.menu-bar-link:hover {
  cursor: pointer !important;
  color: var(--light-gray);
}
.menu-bar-link.active {
  color: var(--nav-link-active);
}

.the-section {
  display: none;
}
.the-section.active {
  display: block;
}

.big-title {
  display: inline-block;
  margin: 15px 0px;
  font-weight: var(--font-weight-600);
  font-size: 32px;
}
.dash {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--text-gradient-yellow);
}
.body-text {
  color: var(--light-gray);
  margin: 15px 0px;
  font-weight: 300;
  font-size: var(--font-size-5);
  text-align: justify;
}

.body-text span {
  height: 10px;
}

.card-item {
  /* card template */
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
  height: 140px;
  gap: 20px;
  z-index: 1;
}

.card-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.card-item .item-text {
  /* Adjust the height as needed */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Show ellipsis (...) for overflow text */
  line-height: 1.6;
  font-size: var(--font-size-5); /* Ensure proper line height */
}

/* start of what I'm doing | services  */
.section-title {
  margin: 20px 0px;
}

.section-list {
  /* list template */
  display: grid;
  grid-auto-columns: 50%;
  grid-template-rows: 100px;
  gap: 0.2rem;
}

.section-list.services {
  row-gap: 40px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 46%;
  gap: 1.4rem;
  height: fit-content;
}
.card-item.services .card-item-title {
  display: block;
  margin-bottom: 3px;
}
.card-item.services svg {
  margin-top: 5px;
  width: 140px;
  height: fit-content;
}

/* Start Testmonials section 
add scrollbar color */
.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.clients .section-list::-webkit-scrollbar,
.test-mo::-webkit-scrollbar {
  width: 2em;
  height: 0.4em;
}

.clients .section-list::-webkit-scrollbar-track,
.test-mo::-webkit-scrollbar-track {
  background: var(--bg-gradient-onyx);
  border-radius: 100vw;
  border-radius: 100dvw;
  margin-inline: 8em;
}
.clients .section-list::-webkit-scrollbar-thumb,
.test-mo::-webkit-scrollbar-thumb {
  background: var(--text-gradient-yellow);
  border: 0.5px solid var(--menu-bar-gb);
  border-radius: 100vw;
  border-radius: 100dvw;
}
.section-list.horizontal {
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.section-list.test-mo {
  grid-auto-columns: 49%;
  grid-auto-rows: 50%;
  column-gap: 1.5rem;

  height: 260px;
}
.card-item.team {
  margin-top: 40px;
  margin-inline: 20px;
  text-align: start;
  flex-direction: column;
  gap: 0.5rem;
}
.card-item.team .item-text {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-3);
  line-height: 1.6;
  max-height: 5em; /* Adjust the value as needed */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Adds ellipsis for overflow */
}

.team-info {
  display: flex;
  justify-content: start;
  height: 25px;
  position: relative;
}
.testimonial-list-itme {
  margin-top: 5px;
}
.team-info .photo {
  position: relative;
  top: -75px;
  width: 95px;
  margin: 10px;
  height: 95px;
  border-radius: 18px;
}
.team-info .photo img {
  width: 85px;
  height: 90px;
}

/* popup dialog */

.full-screen-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
}
.full-screen-dialog.active {
  visibility: visible;
  pointer-events: all;
}
.dialog-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--light-gray-70);
  background: var(--onyx);
  padding: 5px 12px;
  border-radius: 7px;
  z-index: 30;
  font-weight: var(--font-weight-300);
  opacity: 0.7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dialog-close-btn:hover {
  color: var(--light-gray);
  opacity: 1;
}
.dialog-box {
  position: relative;
  width: 750px;
  margin-inline: 50px;
  display: flex;
  column-gap: 20px;
  padding: 30px;
  box-shadow: var(--shadow-5);
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
}
.dialog-box p {
  color: var(--light-gray);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-300);
  line-height: 1.6;
}
.dialog-person-name {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-600);
}
.dialog-person-position {
  font-weight: 100;
  font-size: small;
  margin-top: -12px;
  color: var(--light-gray-70);
}
.dialog-profile {
  width: 85px;
  /* margin: 10px auto; */
  height: 85px;
  border-radius: 20px;
  background: var(--bg-gradient-onyx);
  transition: var(--transition-1);
}
.dialog-person-img {
  height: inherit;
  width: inherit;
}
.dialog-double-quotes {
  height: 35px;
  width: 35px;
}
.full-screen-dialog.active .dialog-box {
  transform: scale(1);
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--overlay-background);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -3;
  transition: var(--transition-1);
}
.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all;
}
.dialog-imgs {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.dialog-text-box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  padding: 10px 0px;
}
.clients .section-list {
  height: fit-content;
  grid-auto-columns: 18%;
  gap: 10px;
}

.clients .horizontal {
  padding-bottom: 30px;
}
.clients .horizontal li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start of resume section big screen  */

.resume {
  margin-block: 20px;
}
.resume-section-name {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.add-sign {
  font-weight: 300;
  margin-inline: 5px;
}
.companeis-link {
  color: var(--title-orange-yellow-crayola);
  font-weight: 400;
  text-decoration: underline;
}
.companeis-link.no-link {
  text-decoration: none;
  cursor: auto;
}
.hash-tag {
  font-weight: 100;
  color: var(--light-gray-70);
}
.forward-selash {
  margin-inline: 5px;
  font-weight: 100;
  color: var(--light-gray-70);
}
.resume-section-icon {
  width: 45px;
  height: 45px;
}
.resume-section-icon svg {
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  margin-top: -3px;
  margin-left: -3px;
}
.resume-section-icon::before {
  width: 45px;
  height: 45px;
}
.resume-section-title {
  font-size: var(--font-size-1);
}

.resume-section-list {
  padding-left: 80px;
  margin-top: 20px;
}
.resume-section-list {
  padding-left: 80px;
}
.resume-section-list .resume-section-date {
  font-size: 14px;
  color: var(--vegas-gold);
  margin-block: 0px 10px;
}
/* li  */
.resume-list-item {
  margin-top: 15px;
  position: relative;
}
.resume-list-item::before {
  content: "";
  height: 15px;
  width: 15px;
  left: -64px;
  top: 2px;
  background: var(--icon-color);
  border-radius: 50%;
  border: 3px solid var(--onyx);
  position: absolute;
  z-index: 3;
}
.resume-list-item.no-dot::before {
  height: 1.5px;
  width: 40px;
  left: -57px;
  top: 13px;
  border-radius: 1px;
  border: none;
}
.volunteer-date {
  font-size: 20px;
  font-weight: 500;
  color: var(--title-orange-yellow-crayola);
}

.resume-list-item:not(:last-child)::after {
  content: "";
  height: calc(100% + 50px);
  width: 1px;
  left: -57px;
  top: -25px;
  background: var(--jet);
  position: absolute;
}

.resume-list-item .resume-about-organization {
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 300;
}
.resume-section-list p {
  color: var(--light-gray-70);
  margin-block: 10px;
}
.resume-section-list ul li {
  margin-block: 5px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--light-gray);
}
.resume-responsibilities-list {
  margin-left: 20px;
}
.resume-responsibilities-list li {
  letter-spacing: 2px;
}
.responsibility-list-item {
  display: list-item;
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 10px;
  font-size: 14px;
}
/* skills list class */
.skills-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills-item {
  box-shadow: var(--shadow-1);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 7px;
  text-transform: capitalize;
  color: var(--light-gray);
}

.skills-box {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 30px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  height: fit-content;
  width: fit-content;
  float: left;
  margin-right: 10px;
  z-index: 1;
  transition: var(--transition-1);
}

.skills-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  width: 100%;
  height: 100%;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

/* start of  Section Blog Big screen */
.section.blogs {
  margin-block: 20px;
}

.blog-list {
  grid-template-columns: 48% 48%;
  grid-template-rows: none;
  gap: 2rem;
}

.card-item-blog {
  background: var(--bg-gradient-jet);
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--shadow-4);
  padding: 8px;
}
.card-item-blog img {
  width: 100%;
  transition: 0.3s ease;
}
.blog-banner {
  overflow: hidden;
  border-radius: inherit;
  height: 230px;
}
.card-item-blog:hover img {
  transform: scale(1.1);
}
.card-item-blog:hover .card-blog-big-title {
  color: var(--title-orange-yellow-crayola);
}
.card-blog-category-and-date {
  display: flex;
  align-items: center;
}
.card-blog-category-and-date p {
  color: var(--light-gray-70);
}
.card-blog-category-and-date .dot {
  width: 4px;
  height: 4px;
  font-weight: 100;
  border-radius: 50%;
  background: var(--light-gray-70);
  text-align: center;
  margin-inline: 5px;
}
.card-blog-details {
  margin: 25px;
}
.card-blog-details .card-blog-big-title {
  margin-block: 15px;
  color: var(--white-1);
}
.card-blog-details .card-blog-text {
  color: var(--light-gray);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-300);
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* start portfolio section  */

.category-list {
  display: flex;
  gap: 1.6rem;
  margin-block: 25px;
}
.category-list .category-li-btn {
  color: var(--white-1);
  font-size: 14px;
}

.category-li-btn.active {
  color: var(--icon-color);
}

.section-list.projects {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  grid-auto-rows: none;
  gap: 1.5rem;
}

.card-item-portfolio {
  border-radius: 15px;
  overflow: hidden;
  color: var(--white-1);
}

.card-item-portfolio:hover .bunner-preview {
  scale: 1;
}
.card-item-portfolio:hover .bunner-img {
  transform: 5s scale(1.1);
}
.card-port-f-bunner {
  border-radius: inherit;
  overflow: hidden;
  margin-bottom: 10px;
  height: 200px;
  border: 1px solid var(--jet);
  position: relative;
}

.card-port-f-bunner .bunner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  object-fit: cover;
}
.bunner-preview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #38383850;
  scale: 0;
  animation: scaleUp 0.8s ease forwards;
}
.bunner-preview .eye-icon {
  width: 55px;
  height: 50px;
  padding: 10;
  z-index: 5;
  border-radius: 8px;
  background: var(--onyx);
}

.card-item-portfolio .card-item-port-text,
.card-item-port-title,
.card-item-port-description {
  margin-inline: 10px;
}
.card-item-port-title {
  color: var(--title-orange-yellow-crayola);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-400);
  text-transform: capitalize;
  line-height: 1.3;
  margin-block: 5px 3px;
}
.card-item-port-text {
  color: var(--light-gray);
  font-size: 14px;
}

.card-item-port-description {
  color: var(--light-gray-70);
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* start of Contact section */

.map-box {
  margin: 30px 0px;
  width: 100%;
  overflow: hidden;
  height: 420px;
  border-radius: 15px;
  /* background: red; */
  filter: var(--map-box-filter);
  border: 1px solid var(--jet);
}
.contact {
  position: relative;
}
.map-container {
  width: 100%;
  height: 100%;
}

.contact-input-box form {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.input-message {
  grid-row: 3/3;
  grid-column: 1/5;
}
.loading-text {
  grid-row: 4/4;
  grid-column: 1/5;
}
.input-name {
  grid-column: 1/3;
}
.input-email {
  grid-column: 3/5;
}

.input {
  background: transparent;
  color: var(--white-1);
  padding: 18px;
  font-size: 15px;
  border-radius: 13px;
  border: 1.3px solid var(--jet);
  outline: none;
}
.input:focus,
.send-btn:focus {
  border: 1.3px solid var(--vegas-gold);
}

.send-btn {
  cursor: pointer;

  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px 10px 0px;
  margin-block: 15px;
  border-bottom-left-radius: none;
  box-shadow: var(--shadow-1);
  grid-row: 4/4;
  grid-column: 4/4;
  /* cursor: not-allowed; */
}
.item-icon.send-btn::before {
  width: inherit;
}
.send-btn svg {
  width: 50px;
  height: 50px;
  filter: var(--orange-yellow-crayola);
}
.send-btn p {
  color: var(--text-orange-yellow-crayola);
  font-size: var(--font-size-5);
}

@media (max-width: 1240px) {
  .main-container {
    grid-template-columns: 100%;
    max-width: 950px;
    transition: 290ms;
    gap: 1.5rem;
  }

  .main-container {
    grid-template-rows: auto 1fr;
    /* background: red; */
  }
  .my-info {
    align-items: center;
  }
  .info,
  hr,
  .social-icons {
    display: none;
  }

  .mode-toggle-btn {
    bottom: 10px;
    top: auto;
  }
  .left-side.active .info,
  .left-side.active hr,
  .left-side.active .social-icons {
    display: block;
  }
  .left-side .profile {
    padding: 0px;
    margin-bottom: 0px;
  }
  #hr1 {
    margin-top: 20px;
  }
  .show-contacts-btn {
    display: block;
  }
  .left-side {
    position: relative;
    top: 0px;
  }
  .left-side.active {
    height: fit-content;
  }
  .profile {
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    width: 350px;
  }

  .photo {
    height: 105px;
    width: 105px;
    margin: 0px;
    border-radius: 20px;
    text-align: center;
  }
  .photo img {
    height: 95px;
    width: 95px;
  }
  .my-info {
    text-align: start;
  }
  .info.active,
  hr.active {
    display: none;
  }
  .social-icons {
    bottom: 20px;
    margin-left: -1.8rem;
  }
  .social-icons.active {
    position: absolute;
    margin-left: auto;
    right: 0px;
    margin-block: 0px;
    padding: 0px;
    bottom: 12px;
  }
  .my-name {
    font-size: var(--font-size-1);
    font-weight: 500;
    letter-spacing: 0.35px;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 1rem;
  }
  .menu-bar {
    width: 55%;
  }

  .what-i-do .section-title {
    margin-block: 0px 20px;
    font-weight: 600;
  }
  .card-item-title {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-600);
  }
  .test-mo .card-item .photo {
    margin-left: 0px;
    margin-top: 5px;
    top: -60px;
    width: 80px;
    height: 80px;
  }
  .card-item .team-info {
    gap: 0px;
    justify-content: start;
    padding: 0;
  }
  .test-mo .card-item .photo img {
    width: 80px;
    height: 80px;

    margin: 0px;
  }
}

@media (max-width: 1020px) {
  .main-container.active {
    grid-template-rows: 420px 1fr;
    /* background: tomato; */
    gap: 0.5rem;
  }

  .contact-list {
    gap: 0.1rem;
  }
  .main-container {
    margin: 60px auto;
    max-width: 700px;
  }

  /* Right side section */

  .menu-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  .menu-bar-ul {
    width: 50%;
  }
  .menu-bar-link {
    font-size: 14px;
    font-weight: 500;
    margin-right: 13px;
  }

  .right-side .big-title {
    margin: 15px 0;
  }
  .card-item.services {
    height: fit-content;
  }
  .card-item.services svg {
    width: 70px;
  }
  .section-list.services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .section-list.test-mo {
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    column-gap: 1.5rem;
    overscroll-behavior-inline: contain;
    height: 250px;
  }

  /* Skills section */
  .skills-box {
    padding: 25px 10px;
  }
  /* section protfolio 1020 */
  .section-list.projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .card-port-f-bunner {
    height: 225px;
  }

  /* section blog 1020  */
  .card-item-blog {
    height: 400px;
  }
  .blog-banner {
    height: 200px;
  }
  .clients .horizontal li a img {
    width: 80px;
    height: 80px;
  }
  .card-blog-details .card-blog-text {
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 770px) {
  .main-container.active {
    grid-template-rows: auto 1fr;
    /* background: blue; */
    gap: 1.2rem;
  }
  .mode-toggle-btn {
    height: 25px;
    width: 45px;
    overflow: hidden;
    padding-inline: 2px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .toggle-mode {
    background: var(--bg-gradient-onyx);
    display: flex;
    border-radius: inherit;
    justify-content: center;
    border: 1px solid var(--jet);
    padding: 3px;
    transform: translateX(19px);
    transition: 0.3s ease-in-out;
  }
  .toggle-mode img {
    height: 12px;
    width: 12px;
  }

  .toggle-mode.light-mode {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }

  .main-container {
    max-width: 520px;
  }
  .card-item {
    height: fit-content;
  }

  .dialog-profile {
    height: 70px;
    width: 70px;
    border-radius: 14px;
  }
  .dialog-double-quotes {
    height: 35px;
    width: 35px;
  }

  .clients .section-list::-webkit-scrollbar,
  .test-mo::-webkit-scrollbar {
    width: 2em;
    height: 0.4em;
  }

  .clients .section-list::-webkit-scrollbar-track,
  .test-mo::-webkit-scrollbar-track {
    border-radius: 100vw;
    border-radius: 100dvw;
    margin-inline: 8em;
  }

  .clients .section-list::-webkit-scrollbar-thumb,
  .test-mo::-webkit-scrollbar-thumb {
    background: var(--text-gradient-yellow);

    border-radius: 100vw;
    border-radius: 100dvw;
  }
  .menu-bar {
    position: fixed !important;
  }
  .menu-bar-ul {
    width: 65%;
  }
  .menu-bar .menu-bar-link {
    font-size: 12px;
    font-weight: var(--font-weight-500);
    margin-right: 20px;
  }
  .contact-list {
    display: flex;
  }
  .section-title {
    font-size: var(--font-size-2);
  }
  .item-icon {
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
  }
  .body-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 300;
    text-align: start;
  }

  .item-icon::before {
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
  }
  .item-icon svg {
    width: 20px;
    height: 20px;
  }
  .item-data {
    padding: 5px 0px;
  }
  .contact-item {
    margin: 3px 0px;
  }
  .blog-banner {
    height: 300px;
  }

  .card-item.services svg {
    width: 80px;
    height: fit-content;
    object-fit: cover;
  }
  /* start sectio9n Resume 1020 */

  .resume-section-list {
    padding-left: 65px;
    margin-top: 20px;
  }
  .resume-section-name {
    margin-top: 30px;
    gap: 15px;
  }

  .resume-section-icon svg {
    margin: 0px;
  }

  .resume-list-item::before {
    content: "";
    left: -52px;
    top: 2px;
  }
  .resume-list-item:not(:last-child)::after {
    left: -45px;
    top: -25px;
  }
  .resume-list-item.no-dot::before {
    height: 1.5px;
    width: 30px;
    left: -45px;
    top: 13px;
    border-radius: 1px;
    border: none;
  }
  .volunteer-date {
    font-size: 18px;
    font-weight: 500;
  }

  /* section protfolio 1020 */
  .category-list {
    display: flex;
    gap: 1rem;
    margin-block: 10px;
  }
  .category-list .category-li-btn {
    font-size: 10px;
  }

  .section-list.projects {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .card-port-f-bunner {
    height: 345px;
  }

  .card-item-blog {
    height: fit-content;
  }
  .section-list.blog-list {
    grid-template-columns: 100%;
  }

  .card-blog-details .card-blog-text {
    -webkit-line-clamp: 3;
  }
  /* start of contact section 770 */
  .map-box {
    height: 250px;
  }
  .contact {
    padding-bottom: 0px;
  }
  .contact-input-box form {
    display: flex;
    flex-direction: column;
  }
  .send-btn img {
    width: 45px;
    height: 45px;
  }
  .send-btn {
    position: relative;
    width: 100%;
    margin: 30px 0px;
  }
}
@media (max-width: 570px) {
  .main-container.active {
    grid-template-rows: auto 1fr;
    /* background: white; */
    gap: 1rem;
  }
  .left-side,
  .right-side {
    padding: 15px;
  }
  .menu-bar-ul {
    width: 75%;
  }
  .my-info {
    row-gap: 5px;
  }
  .my-position {
    padding: 3px 15px;
    border-radius: 6px;
    font-size: var(--font-size-8);
  }
  .resume-download-btn {
    font-size: var(--font-size-9);
    align-self: center;
  }
  .right-side {
    padding-bottom: 35px;
  }

  .dialog-imgs {
    flex-direction: row;
  }
  .dialog-double-quotes {
    opacity: 0;
  }

  .dialog-box {
    padding: 10px;
    margin: 10px;
    max-width: 650px;
    flex-direction: column;
  }
  .dialog-profile {
    height: 80px;
    width: 80px;
  }

  .profile .photo {
    width: 90px;
    height: 90px;
  }
  .profile .my-info * {
    margin: 0px;
  }
  .my-name {
    font-weight: 500;
    font-size: var(--font-size-2);
  }
  .right-side .big-title {
    font-size: 24px;
    margin: 8px 0px;
  }
  .dash {
    height: 3px;
    width: 30px;
  }
  .main-container {
    margin: 25px auto;
    max-width: 460px;
    gap: 1rem;
  }

  .card-item.services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 2px;
  }
  .card-item.services .item-text {
    text-align: center;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    line-height: 1.6;
  }
  .card-item.services .card-item-title {
    display: flex;
    justify-content: center;
  }
  .card-item.services svg {
    height: 40px;
  }

  .resume-section-icon {
    width: 35px;
    height: 35px;
  }
  .resume-section-icon svg {
    width: 16px;
    height: 16px;
  }
  .resume-section-icon::before {
    width: 35px;
    height: 35px;
  }
  .resume-section-list {
    padding-left: 50px;
    margin-top: 20px;
  }
  .resume-section-name {
    margin-top: 30px;
    gap: 5px;
  }
  .resume-section-name h3 {
    font-size: var(--font-size-2);
  }
  .resume-list-item-title {
    font-size: var(--font-size-5);
  }

  .resume-list-item::before {
    left: -39px;
    top: 2px;
  }
  .resume-list-item:not(:last-child)::after {
    left: -32px;
    top: -25px;
  }

  .show-contacts-btn #show-contatcts-text {
    display: none;
  }
  .show-contacts-btn #down-arrow {
    display: block;
  }
  .card-item-blog .blog-banner {
    height: 250px;
  }
}
