# Node.js
node_modules/

# npm
npm-debug.log
*.lock
node_modules/
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Webpack
dist/
*.bundle.js
*.chunk.js
*.map

# Babel
lib/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Yarn
yarn-error.log
yarn.lock

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Sublime Text
*.tmlanguage.cache
*.tmPreferences